/* HeroDetailComponent's private CSS styles */
label
  display: inline-block
  width: 3em
  margin: .5em 0
  color: #607D8B
  font-weight: bold
input
  height: 2em
  padding-left: .4em
  font-size: 1em
button
  margin-top: 20px
  padding: 5px 10px
  border: none
  border-radius: 4px
  background-color: #eee
  font-family: Arial
  cursor: pointer
  cursor: hand
  &:hover
    background-color: #cfd8dc
  &:disabled
    background-color: #eee
    color: #ccc
    cursor: auto
